.list_item__block {
    display: flex;
    gap: 1rem;
}

.user__ava {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: beige;
}

.user__block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
}

.user__name {
    font-weight: 700;
    font-size: 18px;
}