.header {
    height: var(--header-height);
    width: 100%;
    background-color: aliceblue;
}

.header__nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding-right: 10px;
}

.nav__list_item {
    cursor: pointer;
    font-weight: 700;
}

.nav__list_item:hover {
    text-decoration: underline;
}